<%- include('./partials/header.ejs') %>
    <form action="/pokedex" method="POST">
        <section class="section">
            <div class="container">
                
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                    <input name="name" class="input" type="text" placeholder="Pikachu">
                    </div>
                </div>
                
                <div class="field">
                    <label class="label">Type</label>
                    <div class="control">
                        <input name="type" class="input" type="text">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Image Link</label>
                    <div class="control">
                        <input name="image-link" class="input" type="text">
                    </div>
                </div>

                <div class="control">
                    <button class="button is-primary">Submit</button>
                </div> 
            </div>
        </section>
    </form>
  </body>
</html>